<div class='container'>
  <h1>Stupid Coaching</h1>

  <div class='left-border'>
    <%= params[:question] %>
    <p>–You</p>
  </div>

  <div class='left-border yellow-background'>
    <% if params[:question] == 'I am going to work' %>
      <%= @answer[0] %>
    <% elsif params[:question][-1] == '?' %>
      <%= @answer[1] %>
    <% else %>
      <%= @answer[2] %>
    <% end %>
    <p>–Answer</p>
  </div>

  <div id='link'>
    <%= link_to 'Ask a new question', ask_path %>
  </div>
</div>
